<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="modelheader"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Carrinho de Compra</title>
        <link href="/webjars/bootstrap/5.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>